/* 
body{
    font-family: Arial, Helvetica, sans-serif;
}

.text-green,p{
    color: rgb(60, 98, 60);
    background-color: rgb(187, 167, 167);

}

.text-green{
    color: rgb(36, 223, 36);
}

.text-yellow{
    color: rgb(114, 114, 9); */

/* p{
    background-color: rgba(66, 114, 66, 0.301);
} */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap'); */
/*  
body{
    font-family: 'Montserrat', sans-serif;
}
.main-header{
    background-color: brown;
}
.secondary{
    color: #031d18;
    background-color: #00705c;
}
span{
    background-color: #7dffe8;
} */
/* 
header{
    background-color: #f0ebeb;
}
section.my-articles{
    background-color: #f2e9e9;
}
h2+p{
    color: orangered;
}
section.my-articles > h2{
    color: green;
/* } */
/* h1{
    color: green;
}
.h1class{
    color: red;
}
.heading{
    color: magenta;
} */
/* #h1id{
    color: blue !important;
} */
h2, img{
    border: 4px solid red;
}
div{
    border: 8px solid green
} 
li{
    border: 3px solid black;
}